Repository soffiafdz/palimpsest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Modules, Database, Pipeline, AI Features, Builders, Dataclasses, Utils

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "tests/"
  - "setup.py"
  - "**/__init__.py"
  - "dev/bin/"
  - "alembic/"
  - "docs/"
  - "templates/"

flags:
  unittests:
    paths:
      - dev/
    carryforward: true

  integration:
    paths:
      - dev/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - dev/core/

    - component_id: database
      name: Database
      paths:
        - dev/database/

    - component_id: pipeline
      name: Pipeline
      paths:
        - dev/pipeline/

    - component_id: ai
      name: AI Features
      paths:
        - dev/nlp/

    - component_id: builders
      name: Builders
      paths:
        - dev/builders/

    - component_id: dataclasses
      name: Dataclasses
      paths:
        - dev/dataclasses/

    - component_id: utils
      name: Utils
      paths:
        - dev/utils/

Add wiki unit and integration tests (270+ test cases)
  tests/integration/conftest.py
  tests/integration/test_wiki_cli.py
  tests/integration/test_wiki_generation.py
  tests/integration/test_wiki_sync_roundtrip.py
  tests/unit/wiki/__init__.py
  tests/unit/wiki/test_context.py
  tests/unit/wiki/test_context_manuscript.py
  tests/unit/wiki/test_exporter.py
  tests/unit/wiki/test_filters.py
  tests/unit/wiki/test_mdit_wikilink.py
  tests/unit/wiki/test_metadata.py
  tests/unit/wiki/test_parser.py
  tests/unit/wiki/test_publisher.py
  tests/unit/wiki/test_renderer.py
  tests/unit/wiki/test_sync.py
  tests/unit/wiki/test_validator.py
Due: none

Extend nvim plugin with context, cache, float, and entity modules
  dev/lua/palimpsest/cache.lua
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/context.lua
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/float.lua
  dev/lua/palimpsest/init.lua
  dev/lua/palimpsest/keymaps.lua
Due: unittests, integration

Fix stale PDF test assertions to match LaTeX output format
  tests/integration/test_metadata_pdf_pipeline.py
  tests/unit/pipeline/test_metadata2pdf.py
Due: none

Update docs for wiki system and nvim plugin extensions
  docs/development/architecture.md
  docs/development/neovim-plugin-dev.md
  docs/development/testing.md
  docs/development/vimwiki-design.md
  docs/integrations/neovim.md
  docs/reference/commands.md
Due: none

Fix nvim plugin: extract utils, align commands, add wiki lint and metadata import
  dev/lua/palimpsest/cache.lua
  dev/lua/palimpsest/context.lua
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/float.lua
  dev/lua/palimpsest/fzf.lua
  dev/lua/palimpsest/keymaps.lua
  dev/lua/palimpsest/utils.lua
  dev/lua/palimpsest/validators.lua
  dev/wiki/metadata.py
  docs/development/neovim-plugin-dev.md
Due: unittests, integration

Add sync-pending marker guards to wiki exporter and sync
  dev/wiki/exporter.py
  dev/wiki/sync.py
  tests/unit/wiki/test_sync_pending.py
Due: unittests, integration

Add deck mode to nvim plugin with conditional loading and sync-pending marker writer
  dev/lua/palimpsest/autocmds.lua
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/init.lua
  docs/integrations/neovim.md
Due: unittests, integration

Fix wiki template rendering: whitespace, None guards, plurals, dead wikilinks
  dev/wiki/templates/indexes/events.jinja2
  dev/wiki/templates/indexes/places.jinja2
  dev/wiki/templates/indexes/poems.jinja2
  dev/wiki/templates/indexes/references.jinja2
  dev/wiki/templates/journal/arc.jinja2
  dev/wiki/templates/journal/city.jinja2
  dev/wiki/templates/journal/entry.jinja2
  dev/wiki/templates/journal/event.jinja2
  dev/wiki/templates/journal/location.jinja2
  dev/wiki/templates/journal/motif.jinja2
  dev/wiki/templates/journal/person.jinja2
  dev/wiki/templates/journal/poem.jinja2
  dev/wiki/templates/journal/reference_source.jinja2
  dev/wiki/templates/journal/tag.jinja2
  dev/wiki/templates/journal/theme.jinja2
  dev/wiki/templates/macros/entry_listing.jinja2
  dev/wiki/templates/macros/thread_display.jinja2
Due: unittests, integration

Extend prune-orphans to events and reference sources, auto-prune after import, fix relative path resolution and reference source author updates
  CLAUDE.md
  dev/database/cli/prune.py
  dev/database/managers/entry_manager.py
  dev/pipeline/cli/database.py
Due: unittests, integration, Database, Pipeline

Resolve wikilinks via absolute paths and split entries index into per-year pages
  dev/lua/palimpsest/config.lua
  dev/wiki/exporter.py
  dev/wiki/filters.py
  dev/wiki/templates/indexes/entries.jinja2
  dev/wiki/templates/indexes/entries_year.jinja2
  dev/wiki/validator.py
  tests/unit/wiki/test_filters.py
Due: unittests, integration

Surface hidden DB relationships in wiki: scenes, chapters, aliases, source links
  dev/wiki/context.py
  dev/wiki/templates/journal/arc.jinja2
  dev/wiki/templates/journal/entry.jinja2
  dev/wiki/templates/journal/motif.jinja2
  dev/wiki/templates/journal/person.jinja2
  dev/wiki/templates/journal/poem.jinja2
  dev/wiki/templates/journal/reference_source.jinja2
  dev/wiki/templates/manuscript/chapter.jinja2
  dev/wiki/templates/manuscript/manuscript_scene.jinja2
  tests/unit/wiki/test_context.py
  tests/unit/wiki/test_context_manuscript.py
Due: unittests, integration

Add subpages for heavy entities (ref sources, motifs, events) and surface motifs on entry pages
  dev/wiki/context.py
  dev/wiki/exporter.py
  dev/wiki/templates/journal/entry.jinja2
  dev/wiki/templates/journal/event_scenes.jinja2
  dev/wiki/templates/journal/motif.jinja2
  dev/wiki/templates/journal/motif_entries.jinja2
  dev/wiki/templates/journal/reference_source.jinja2
  dev/wiki/templates/journal/reference_source_refs.jinja2
  tests/unit/wiki/test_context.py
Due: unittests, integration

Year-split all subpages: per-year files replace unbounded entry listings
  dev/wiki/exporter.py
  dev/wiki/templates/journal/arc_entries.jinja2
  dev/wiki/templates/journal/entries_year_page.jinja2
  dev/wiki/templates/journal/location_entries.jinja2
  dev/wiki/templates/journal/motif_entries.jinja2
  dev/wiki/templates/journal/person_entries.jinja2
  dev/wiki/templates/journal/reference_source_refs.jinja2
  dev/wiki/templates/journal/reference_source_refs_year.jinja2
  dev/wiki/templates/journal/tag_entries.jinja2
  dev/wiki/templates/journal/theme_entries.jinja2
  tests/unit/wiki/test_exporter.py
Due: unittests, integration

Add plm metadata rename command with format-preserving merge semantics
  dev/pipeline/cli/metadata_yaml.py
  dev/wiki/rename.py
  pyproject.toml
  tests/unit/wiki/test_rename.py
Due: unittests, integration, Pipeline

Add neighborhood field to Location model
  dev/database/managers/location_manager.py
  dev/database/models/geography.py
  dev/migrations/versions/20260222_add_neighborhood_to_location.py
Due: unittests, integration, Database

Add neighborhood and relation_type metadata export/import/validate
  dev/core/paths.py
  dev/wiki/filters.py
  dev/wiki/metadata.py
Due: unittests, integration, Core Modules

Add neighborhood grouping to context and person-at-location subpages
  dev/wiki/context.py
  dev/wiki/exporter.py
  dev/wiki/templates/journal/location_person_entries.jinja2
Due: unittests, integration

Update wiki templates with neighborhood sections and threshold tweaks
  dev/wiki/templates/indexes/arcs.jinja2
  dev/wiki/templates/indexes/events.jinja2
  dev/wiki/templates/indexes/people.jinja2
  dev/wiki/templates/indexes/places.jinja2
  dev/wiki/templates/indexes/tags.jinja2
  dev/wiki/templates/indexes/themes.jinja2
  dev/wiki/templates/journal/arc.jinja2
  dev/wiki/templates/journal/arc_entries.jinja2
  dev/wiki/templates/journal/city.jinja2
  dev/wiki/templates/journal/event.jinja2
  dev/wiki/templates/journal/location.jinja2
  dev/wiki/templates/journal/location_entries.jinja2
  dev/wiki/templates/journal/motif_entries.jinja2
  dev/wiki/templates/journal/person_entries.jinja2
Due: unittests, integration

Add tests for neighborhood context, source_path filters, and metadata import
  tests/unit/wiki/test_context.py
  tests/unit/wiki/test_filters.py
  tests/unit/wiki/test_metadata.py
Due: none

Extend nvim plugin with log template and entity improvements
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/context.lua
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/keymaps.lua
  dev/lua/palimpsest/templates/log.template
Due: unittests, integration

Update docs for neighborhoods, relation types, and wiki redesign
  docs/development/WIKI_REDESIGN_SPEC.md
  docs/development/database-managers.md
  docs/development/entity_curation_workflow.md
  docs/development/vimwiki-design.md
  docs/development/wiki-page-designs.md
  docs/development/wiki-redesign-prompt.md
  docs/integrations/neovim.md
  docs/narrative_structure/guidelines.md
  docs/narrative_structure/rating_calibration.md
  docs/reference/metadata-field-reference.md
  docs/reference/yaml_specifications.md
Due: none

Add MD frontmatter support to rename engine and update places index
  dev/pipeline/cli/metadata_yaml.py
  dev/wiki/exporter.py
  dev/wiki/rename.py
  dev/wiki/templates/indexes/places.jinja2
  tests/unit/wiki/test_rename.py
Due: unittests, integration, Pipeline

Remove undocumented deck commands from neovim docs
  docs/integrations/neovim.md
Due: none

Add snacks.nvim picker fallback for deck mode browse/search
  dev/lua/palimpsest/fzf.lua
  dev/lua/palimpsest/init.lua
Due: unittests, integration

Remove tag/theme visibility filters, use portable file: links, exclude subpages from browse
  dev/lua/palimpsest/fzf.lua
  dev/lua/palimpsest/init.lua
  dev/wiki/configs.py
  dev/wiki/filters.py
  tests/integration/test_wiki_generation.py
  tests/unit/wiki/test_filters.py
Due: unittests, integration

Convert themes from M2M tags to per-entry ThemeInstance with descriptions
  dev/builders/metadata_pdfbuilder.py
  dev/database/cli/prune.py
  dev/database/manager.py
  dev/database/managers/__init__.py
  dev/database/managers/entry_manager.py
  dev/database/managers/simple_manager.py
  dev/database/models/__init__.py
  dev/database/models/associations.py
  dev/database/models/core.py
  dev/database/models/entities.py
  dev/database/models/metadata.py
  dev/dataclasses/metadata_entry.py
  dev/migrations/versions/20260223_add_theme_instances.py
  dev/pipeline/export_json.py
  dev/pipeline/yaml_skeleton.py
  dev/scripts/__init__.py
  dev/scripts/recover_theme_descriptions.py
  dev/wiki/context.py
  dev/wiki/rename.py
  dev/wiki/templates/journal/entry.jinja2
  dev/wiki/templates/journal/theme.jinja2
  tests/integration/conftest.py
  tests/integration/test_metadata_pdf_pipeline.py
  tests/unit/dataclasses/test_metadata_entry.py
  tests/unit/pipeline/test_export_json.py
  tests/unit/pipeline/test_metadata2pdf.py
  tests/unit/wiki/test_context.py
  tests/unit/wiki/test_exporter.py
  tests/unit/wiki/test_rename.py
Due: unittests, integration, Database, Pipeline, Builders, Dataclasses

Add entity creation to metadata importer for chapters, characters, scenes
  dev/wiki/metadata.py
  tests/unit/wiki/test_metadata.py
Due: unittests, integration
