Repository soffiafdz/palimpsest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Modules, Database, Pipeline, AI Features, Builders, Dataclasses, Utils

Increasing test coverage to +50%
  dev/database/manager.py
  dev/dataclasses/manuscript_arc.py
  dev/dataclasses/manuscript_theme.py
  dev/validators/metadata.py
  tests/integration/test_cli_query_sync.py
  tests/integration/test_database_cli.py
  tests/integration/test_pipeline_cli.py
  tests/unit/builders/test_pdfbuilder.py
  tests/unit/builders/test_wiki_builder.py
  tests/unit/builders/wiki_pages/test_analysis.py
  tests/unit/builders/wiki_pages/test_index.py
  tests/unit/builders/wiki_pages/test_stats.py
  tests/unit/database/test_manager.py
  tests/unit/dataclasses/test_manuscript_dataclasses.py
  tests/unit/dataclasses/test_wiki_dataclasses.py
  tests/unit/nlp/test_semantic_search.py
  tests/unit/pipeline/test_yaml2sql.py
  tests/unit/validators/test_consistency_validator.py
  tests/unit/validators/test_md_validator.py
  tests/unit/validators/test_metadata_validator.py
Due: unittests, integration, Database, Dataclasses

Ruff and Integration tests fixes
  dev/database/cli/export.py
  dev/database/models/associations.py
  tests/integration/test_cli_query_sync.py
  tests/integration/test_database_cli.py
  tests/integration/test_pipeline_cli.py
  tests/unit/builders/test_pdfbuilder.py
  tests/unit/builders/test_wiki_builder.py
  tests/unit/builders/wiki_pages/test_analysis.py
  tests/unit/builders/wiki_pages/test_index.py
  tests/unit/builders/wiki_pages/test_stats.py
  tests/unit/database/test_manager.py
  tests/unit/dataclasses/test_manuscript_dataclasses.py
  tests/unit/dataclasses/test_wiki_dataclasses.py
  tests/unit/nlp/test_semantic_search.py
  tests/unit/validators/test_consistency_validator.py
  tests/unit/validators/test_md_validator.py
  tests/unit/validators/test_metadata_validator.py
Due: unittests, integration, Database

Two remaining errors
  tests/unit/builders/test_pdfbuilder.py
Due: none

Update people list in README.md
  README.md
Due: none

Formatting
  docs/dev-guides/architecture/bidirectional-sync-guide.md
Due: none

Testing plan
  docs/user-guides/testing-plan.md
Due: none

Refactoring of dataclasses/md_entry
  dev/dataclasses/md_entry.py
  dev/dataclasses/md_entry_validator.py
  dev/dataclasses/parsers/__init__.py
  dev/dataclasses/parsers/db_to_yaml.py
  dev/dataclasses/parsers/yaml_to_db.py
  docs/dev-guides/architecture/modular-architecture.md
Due: unittests, integration, Dataclasses

BF: Reference ENUM and other database issues
  dev/database/manager.py
  dev/database/managers/entry_manager.py
  dev/validators/cli/markdown.py
  dev/validators/md.py
Due: unittests, integration, Database

BF: accept datetime object for dates
  dev/core/validators.py
Due: unittests, integration, Core Modules

ENH: underscores to preserve hyphens in hyphens-space conversion
  dev/utils/parsers.py
Due: unittests, integration, Utils

BF & ENH: neovim package autocmds and validator features
  dev/lua/palimpsest/autocmds.lua
  dev/lua/palimpsest/keymaps.lua
  dev/lua/palimpsest/validators.lua
Due: unittests, integration

Recursive glob so it runs automatically on all data
  dev/pipeline/txt2md.py
Due: unittests, integration, Pipeline

Cleaned links
  README.md
  docs/dev-guides/technical/neovim-package-dev.md
  docs/user-guides/metadata-quick-reference.md
  docs/user-guides/sql-wiki-guide.md
  docs/user-guides/testing-plan.md
Due: none

env update
  environment.yaml
Due: none

Remove pip dependencies
  environment.yaml
Due: none

BF: search neovim issue.
  dev/lua/palimpsest/fzf.lua
Due: unittests, integration

REF: CLI redundant logic and wrong organization
  dev/pipeline/cli/__init__.py
  dev/pipeline/cli/database.py
  dev/pipeline/cli/pdf.py
  dev/pipeline/cli/sources.py
  dev/pipeline/cli/sql2wiki.py
  dev/pipeline/cli/text.py
  dev/pipeline/cli/wiki.py
  dev/pipeline/cli/wiki2sql.py
  dev/pipeline/cli/yaml2sql.py
  dev/pipeline/md2pdf.py
  dev/pipeline/ms2wiki.py
  dev/pipeline/sql2wiki.py
  dev/pipeline/sql2yaml.py
  dev/pipeline/src2txt.py
  dev/pipeline/txt2md.py
  dev/pipeline/wiki2sql.py
  dev/pipeline/yaml2sql.py
Due: unittests, integration, Pipeline

BF: Hyphenation & validation
  dev/dataclasses/md_entry.py
  dev/dataclasses/parsers/db_to_yaml.py
  dev/dataclasses/parsers/yaml_to_db.py
  dev/utils/md.py
  dev/utils/parsers.py
  dev/validators/md.py
Due: unittests, integration, Dataclasses, Utils

ENH apostrophe's in dates' context
  dev/database/managers/entry_manager.py
  dev/utils/parsers.py
  tests/unit/test_parsers.py
Due: unittests, integration, Database, Utils

Check for duplicate name/aliases
  dev/validators/metadata.py
  tests/unit/validators/test_metadata_validator.py
Due: unittests, integration

Updated documentation
  docs/dev-guides/technical/metadata-yaml-sql-guide.md
  docs/user-guides/metadata-quick-reference.md
Due: none

Added website as a reference type
  dev/database/models/creative.py
  dev/database/models/enums.py
  dev/migrations/env.py
  dev/migrations/versions/20251207_add_website_type_and_url_field.py
Due: unittests, integration, Database

REF validators
  dev/validators/md.py
  dev/validators/metadata.py
  dev/validators/schema.py
Due: unittests, integration

BF: nvim palimpsest search
  dev/lua/palimpsest/fzf.lua
  dev/lua/palimpsest/keymaps.lua
Due: unittests, integration

Documentation and tests updates
  docs/dev-guides/proposals/validator-refactoring-implementation-summary.md
  docs/dev-guides/proposals/validator-refactoring-proposal.md
  docs/dev-guides/technical/metadata-yaml-sql-guide.md
  docs/dev-guides/technical/neovim-package-dev.md
  docs/dev-guides/technical/validator-architecture.md
  docs/user-guides/metadata-quick-reference.md
  docs/user-guides/neovim-integration.md
  tests/unit/validators/test_md_validator.py
  tests/unit/validators/test_metadata_validator.py
  tests/unit/validators/test_schema_validator.py
Due: none

Refactoring large files
  dev/database/manager.py
  dev/database/managers/entry_helpers.py
  dev/database/managers/entry_manager.py
  dev/validators/metadata.py
Due: unittests, integration, Database

BF misbehaving global palimpsest search. Removed it
  dev/lua/palimpsest/fzf.lua
  dev/lua/palimpsest/keymaps.lua
Due: unittests, integration

Remove NLP features
  README.md
Due: none

BF validators inconsistency
  dev/validators/md.py
  dev/validators/metadata.py
  dev/validators/schema.py
Due: unittests, integration

Reorganization of Documentation
  README.md
  docs/README.md
  docs/dev-guides/architecture/bidirectional-sync-guide.md
  docs/dev-guides/proposals/validator-refactoring-implementation-summary.md
  docs/dev-guides/proposals/validator-refactoring-proposal.md
  docs/dev-guides/pyright-configuration.md
  docs/dev-guides/technical/metadata-yaml-sql-guide.md
  docs/development/README.md
  docs/development/architecture.md
  docs/development/database-managers.md
  docs/development/neovim-plugin-dev.md
  docs/development/testing.md
  docs/development/tombstones.md
  docs/development/type-checking.md
  docs/development/validators.md
  docs/getting-started.md
  docs/guides/conflict-resolution.md
  docs/guides/manuscript-features.md
  docs/guides/migration.md
  docs/guides/synchronization.md
  docs/integrations/neovim.md
  docs/reference/commands.md
  docs/reference/metadata-examples.md
  docs/reference/metadata-field-reference.md
  docs/reference/wiki-fields.md
  docs/user-guides/metadata-quick-reference.md
Due: none

Validate command refactoring
  dev/validators/cli/__init__.py
  dev/validators/cli/frontmatter.py
  dev/validators/frontmatter.py
  dev/validators/md.py
  docs/development/validators.md
  tests/unit/validators/test_frontmatter_validator.py
Due: unittests, integration

Removed unused NLP logic
  dev/nlp/__init__.py
  dev/nlp/claude_assistant.py
  dev/nlp/cli.py
  dev/nlp/extractors.py
  dev/nlp/openai_assistant.py
  dev/nlp/semantic_search.py
  pyproject.toml
  tests/integration/test_nlp_extraction.py
  tests/unit/nlp/test_semantic_search.py
Due: unittests, integration, AI Features

Remove redundant code
  dev/validators/wiki.py
Due: unittests, integration

Fix spaces_to_hyphenated() to preserve existing hyphens
  dev/dataclasses/md_entry.py
  dev/utils/md.py
  dev/utils/parsers.py
  tests/unit/test_parsers.py
Due: unittests, integration, Dataclasses, Utils

Add slugify(), entity_filename(), entity_path() utilities
  dev/utils/__init__.py
  dev/utils/wiki.py
  tests/unit/test_wiki_utils.py
Due: unittests, integration, Utils

Consolidate slug patterns using slugify() across wiki/manuscript dataclasses
  dev/builders/wiki_pages/analysis.py
  dev/dataclasses/manuscript_arc.py
  dev/dataclasses/manuscript_character.py
  dev/dataclasses/manuscript_event.py
  dev/dataclasses/manuscript_theme.py
  dev/dataclasses/wiki_city.py
  dev/dataclasses/wiki_entry.py
  dev/dataclasses/wiki_event.py
  dev/dataclasses/wiki_location.py
  dev/dataclasses/wiki_person.py
  dev/dataclasses/wiki_poem.py
  dev/dataclasses/wiki_reference.py
  dev/dataclasses/wiki_tag.py
  dev/dataclasses/wiki_theme.py
Due: unittests, integration, Builders, Dataclasses

Remove unused get_for_entry/location/person wrapper methods from managers
  dev/database/managers/date_manager.py
  dev/database/managers/event_manager.py
  dev/database/managers/tag_manager.py
  tests/unit/managers/test_date_manager.py
  tests/unit/managers/test_event_manager.py
Due: unittests, integration, Database

Update workplan with P0.5, P2, P3.3 completion status
  docs/unified_simplification_workplan.md
Due: none

Path conditions:
  unittests: any of: dev/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  integration: any of: dev/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Core Modules: any of: dev/core/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Database: any of: dev/database/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Pipeline: any of: dev/pipeline/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  AI Features: any of: dev/nlp/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Builders: any of: dev/builders/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Dataclasses: any of: dev/dataclasses/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Utils: any of: dev/utils/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
