Repository soffiafdz/palimpsest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Modules, Database, Pipeline, AI Features, Builders, Dataclasses, Utils

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "tests/"
  - "setup.py"
  - "**/__init__.py"
  - "dev/bin/"
  - "alembic/"
  - "docs/"
  - "templates/"

flags:
  unittests:
    paths:
      - dev/
    carryforward: true

  integration:
    paths:
      - dev/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - dev/core/

    - component_id: database
      name: Database
      paths:
        - dev/database/

    - component_id: pipeline
      name: Pipeline
      paths:
        - dev/pipeline/

    - component_id: ai
      name: AI Features
      paths:
        - dev/nlp/

    - component_id: builders
      name: Builders
      paths:
        - dev/builders/

    - component_id: dataclasses
      name: Dataclasses
      paths:
        - dev/dataclasses/

    - component_id: utils
      name: Utils
      paths:
        - dev/utils/

Fix codebase audit bugs: entity stubs, float orphan, file_path resolution, metadata gaps
  dev/database/health_monitor.py
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/float.lua
  dev/lua/palimpsest/fzf.lua
  dev/search/search_index.py
  dev/validators/consistency.py
  dev/wiki/metadata.py
  tests/unit/wiki/test_metadata.py
Due: unittests, integration, Database

Consolidate standalone validate CLI into plm validate
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/validators.lua
  dev/pipeline/cli/maintenance.py
  dev/validators/cli/__init__.py
  pyproject.toml
  tests/integration/test_validators_cli.py
Due: unittests, integration, Pipeline

Unify validator result types around shared Diagnostic dataclass
  dev/lua/palimpsest/validators.lua
  dev/pipeline/cli/maintenance.py
  dev/validators/cli/consistency.py
  dev/validators/cli/database.py
  dev/validators/cli/frontmatter.py
  dev/validators/cli/markdown.py
  dev/validators/consistency.py
  dev/validators/db.py
  dev/validators/diagnostic.py
  dev/validators/entry.py
  dev/validators/frontmatter.py
  dev/validators/md.py
  dev/validators/metadata.py
  dev/validators/metadata_yaml.py
  dev/wiki/metadata.py
  dev/wiki/validator.py
  tests/unit/validators/test_consistency_validator.py
  tests/unit/validators/test_diagnostic.py
  tests/unit/validators/test_frontmatter_validator.py
  tests/unit/validators/test_md_validator.py
  tests/unit/wiki/test_validator.py
Due: unittests, integration, Pipeline

Replace arc-based event grouping with chronological year/month ordering
  dev/wiki/context.py
  dev/wiki/templates/journal/arc_entries.jinja2
  dev/wiki/templates/journal/location.jinja2
  dev/wiki/templates/journal/location_entries.jinja2
  dev/wiki/templates/journal/person_entries.jinja2
  tests/unit/wiki/test_context.py
Due: unittests, integration

Fold year entry links into chronological events section on entries subpages
  dev/wiki/exporter.py
  dev/wiki/templates/journal/arc_entries.jinja2
  dev/wiki/templates/journal/location_entries.jinja2
  dev/wiki/templates/journal/person_entries.jinja2
Due: unittests, integration

Fix source_path links and context detection for YAML files
  dev/lua/palimpsest/context.lua
  dev/lua/palimpsest/init.lua
  dev/wiki/filters.py
  tests/unit/wiki/test_filters.py
Due: unittests, integration

Add chapter picker for scene creation and PalimpsestSetChapter command
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/keymaps.lua
Due: unittests, integration

Move characters to scenes, remove chapter arcs, add chapter date and scene notes
  dev/database/cli/manuscript.py
  dev/database/managers/chapter_manager.py
  dev/database/managers/character_manager.py
  dev/database/models/__init__.py
  dev/database/models/associations.py
  dev/database/models/manuscript.py
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/keymaps.lua
  dev/migrations/versions/20260308_add_chapter_date_scene_notes.py
  dev/migrations/versions/20260308_move_characters_to_scenes.py
  dev/pipeline/export_json.py
  dev/wiki/context.py
  dev/wiki/metadata.py
  dev/wiki/parser.py
  dev/wiki/sync.py
  dev/wiki/templates/journal/arc.jinja2
  dev/wiki/templates/manuscript/chapter.jinja2
  dev/wiki/templates/manuscript/character.jinja2
  dev/wiki/templates/manuscript/manuscript_scene.jinja2
  docs/development/vimwiki-design.md
  docs/development/wiki-page-designs.md
  docs/reference/yaml_specifications.md
  tests/integration/conftest.py
  tests/unit/managers/test_chapter_manager.py
  tests/unit/managers/test_character_manager.py
  tests/unit/pipeline/test_export_json.py
  tests/unit/wiki/test_context.py
  tests/unit/wiki/test_context_manuscript.py
  tests/unit/wiki/test_metadata.py
  tests/unit/wiki/test_parser.py
  tests/unit/wiki/test_sync.py
Due: unittests, integration, Database, Pipeline

Add manuscript wiki indexes, cross-domain links, and chapter-scene commands
  dev/lua/palimpsest/entity.lua
  dev/wiki/configs.py
  dev/wiki/context.py
  dev/wiki/exporter.py
  dev/wiki/templates/indexes/characters.jinja2
  dev/wiki/templates/indexes/main.jinja2
  dev/wiki/templates/indexes/manuscript-scenes.jinja2
  dev/wiki/templates/indexes/manuscript.jinja2
  dev/wiki/templates/journal/entry.jinja2
  dev/wiki/templates/manuscript/chapter.jinja2
  dev/wiki/templates/manuscript/character.jinja2
  dev/wiki/templates/manuscript/part.jinja2
  tests/unit/wiki/test_context_manuscript.py
  tests/unit/wiki/test_exporter.py
Due: unittests, integration

Remove wiki parser module, replaced by YAML metadata import
  dev/wiki/parser.py
  tests/unit/wiki/test_parser.py
Due: unittests, integration

Refactor WikiSync to use MetadataImporter instead of parser
  dev/wiki/__init__.py
  dev/wiki/sync.py
  tests/unit/wiki/test_sync.py
  tests/unit/wiki/test_sync_pending.py
Due: unittests, integration

Expand YAML metadata exporter, validator, and importer for all entity types
  dev/wiki/metadata.py
  tests/unit/wiki/test_metadata.py
Due: unittests, integration

Add JSON import pipeline with upsert semantics
  dev/pipeline/cli/import_json.py
  dev/pipeline/import_json.py
  tests/unit/pipeline/test_import_json.py
Due: unittests, integration, Pipeline

Register import-json CLI command and expand metadata entity types
  dev/lua/palimpsest/cache.lua
  dev/pipeline/cli/__init__.py
  dev/pipeline/cli/export.py
  dev/pipeline/cli/metadata_yaml.py
Due: unittests, integration, Pipeline

Update docs and integration tests for YAML metadata and JSON import workflows
  docs/development/architecture.md
  docs/development/vimwiki-design.md
  docs/reference/commands.md
  tests/integration/test_wiki_sync_roundtrip.py
Due: none

Group manuscript sources by entry for hierarchical display
  dev/wiki/context.py
  dev/wiki/templates/manuscript/chapter.jinja2
  dev/wiki/templates/manuscript/manuscript_scene.jinja2
  tests/unit/wiki/test_context_manuscript.py
Due: unittests, integration

Fix architectural integrity: location identity, session management, naming collisions
  dev/builders/__init__.py
  dev/builders/metadata_pdfbuilder.py
  dev/builders/pdfbuilder.py
  dev/database/cli/prune.py
  dev/database/manager.py
  dev/database/managers/entry_manager.py
  dev/database/managers/location_manager.py
  dev/database/query_analytics.py
  dev/pipeline/cli/database.py
  dev/pipeline/md2pdf.py
  dev/pipeline/metadata2pdf.py
  dev/pipeline/metadata_importer.py
  dev/wiki/metadata.py
  tests/unit/managers/test_location_manager.py
Due: unittests, integration, Database, Pipeline, Builders

Update prune-orphans docs to include poems and motifs entity types
  docs/reference/commands.md
Due: none

Redesign manuscript/character wiki indexes, add Part lifecycle and auto-import
  dev/lua/palimpsest/cache.lua
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/context.lua
  dev/lua/palimpsest/entity.lua
  dev/pipeline/cli/metadata_yaml.py
  dev/wiki/exporter.py
  dev/wiki/metadata.py
  dev/wiki/templates/indexes/characters.jinja2
  dev/wiki/templates/indexes/manuscript.jinja2
  tests/unit/wiki/test_exporter.py
  tests/unit/wiki/test_metadata.py
Due: unittests, integration, Pipeline

Redesign chapter/character wiki pages, fix orphan cleanup, remove redundant commands
  dev/core/logging_manager.py
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/context.lua
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/float.lua
  dev/lua/palimpsest/init.lua
  dev/lua/palimpsest/keymaps.lua
  dev/wiki/context.py
  dev/wiki/exporter.py
  dev/wiki/templates/indexes/characters.jinja2
  dev/wiki/templates/manuscript/chapter.jinja2
  docs/development/neovim-plugin-dev.md
  docs/development/vimwiki-design.md
  docs/integrations/neovim.md
  tests/unit/wiki/test_exporter.py
Due: unittests, integration, Core Modules

Add auto JSON export to YAML save chain, fix lint errors and stale export cleanup
  dev/database/models/metadata.py
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/float.lua
  dev/pipeline/cli/export.py
  dev/pipeline/export_json.py
  dev/scripts/recover_theme_descriptions.py
  dev/search/search_index.py
  dev/validators/entry.py
  dev/validators/frontmatter.py
  dev/validators/md.py
  dev/wiki/context.py
  dev/wiki/mdit_wikilink.py
  dev/wiki/rename.py
  tests/integration/conftest.py
  tests/integration/test_metadata_pdf_pipeline.py
  tests/integration/test_wiki_generation.py
  tests/integration/test_wiki_sync_roundtrip.py
  tests/unit/managers/test_chapter_manager.py
  tests/unit/managers/test_character_manager.py
  tests/unit/pipeline/test_import_json.py
  tests/unit/pipeline/test_metadata2pdf.py
  tests/unit/validators/test_diagnostic.py
  tests/unit/wiki/test_context_manuscript.py
  tests/unit/wiki/test_exporter.py
  tests/unit/wiki/test_filters.py
  tests/unit/wiki/test_metadata.py
  tests/unit/wiki/test_rename.py
  tests/unit/wiki/test_sync.py
  tests/unit/wiki/test_validator.py
Due: unittests, integration, Database, Pipeline

Guard tests from writing to real wiki directory
  tests/conftest.py
Due: none

Add Quartz publishing pipeline: link conversion, setup/serve CLI, tag fixes
  .gitignore
  dev/core/paths.py
  dev/pipeline/cli/wiki.py
  dev/wiki/publisher.py
  tests/integration/test_wiki_cli.py
  tests/unit/wiki/test_publisher.py
Due: unittests, integration, Core Modules, Pipeline

Remove Quartz publishing pipeline, keep vimwiki as sole framework
  .gitignore
  dev/core/paths.py
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/keymaps.lua
  dev/pipeline/cli/wiki.py
  dev/wiki/__init__.py
  dev/wiki/publisher.py
  docs/development/architecture.md
  docs/development/neovim-plugin-dev.md
  docs/development/vimwiki-design.md
  docs/development/wiki-page-designs.md
  docs/integrations/neovim.md
  docs/reference/commands.md
  tests/conftest.py
  tests/integration/test_wiki_cli.py
  tests/unit/wiki/test_publisher.py
Due: unittests, integration, Core Modules, Pipeline

BF renaming command
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/keymaps.lua
Due: unittests, integration

Add thread target dates to manuscript scene wiki pages
  dev/wiki/context.py
  dev/wiki/templates/manuscript/manuscript_scene.jinja2
Due: unittests, integration

Make entity keymaps context-aware via BufEnter autocmd
  dev/lua/palimpsest/keymaps.lua
Due: unittests, integration

Enable entity commands in deck mode, skip DB import
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/entity.lua
Due: unittests, integration

Redesign character cast index and character page layout
  dev/wiki/exporter.py
  dev/wiki/templates/indexes/characters.jinja2
  dev/wiki/templates/manuscript/character.jinja2
  tests/unit/wiki/test_exporter.py
Due: unittests, integration

BF of unsorted entries by year
  dev/wiki/context.py
  dev/wiki/templates/macros/entry_listing.jinja2
Due: unittests, integration

Delete stale init_db.py script
  dev/bin/init_db.py
Due: none

Delete stale Makefile
  Makefile
Due: none

Create plm entries group, replace import-metadata
  dev/pipeline/cli/__init__.py
  dev/pipeline/cli/database.py
Due: unittests, integration, Pipeline

Create plm build command group
  dev/pipeline/cli/metadata_pdf.py
  dev/pipeline/cli/pdf.py
Due: unittests, integration, Pipeline
