Repository soffiafdz/palimpsest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Modules, Database, Pipeline, AI Features, Builders, Dataclasses, Utils

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "tests/"
  - "setup.py"
  - "**/__init__.py"
  - "dev/bin/"
  - "alembic/"
  - "docs/"
  - "templates/"

flags:
  unittests:
    paths:
      - dev/
    carryforward: true

  integration:
    paths:
      - dev/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - dev/core/

    - component_id: database
      name: Database
      paths:
        - dev/database/

    - component_id: pipeline
      name: Pipeline
      paths:
        - dev/pipeline/

    - component_id: ai
      name: AI Features
      paths:
        - dev/nlp/

    - component_id: builders
      name: Builders
      paths:
        - dev/builders/

    - component_id: dataclasses
      name: Dataclasses
      paths:
        - dev/dataclasses/

    - component_id: utils
      name: Utils
      paths:
        - dev/utils/

Add production transition guide for refactored codebase
  docs/guides/production-transition.md
Due: none

Clarify dates → Moment mapping in production transition guide
  docs/guides/production-transition.md
Due: none

Add full support for events in dates (moment_events relationship)
  dev/database/managers/entry_manager.py
  dev/dataclasses/parsers/db_to_yaml.py
  dev/dataclasses/parsers/yaml_to_db.py
  dev/validators/frontmatter.py
  docs/guides/production-transition.md
  docs/reference/metadata-field-reference.md
  tests/unit/dataclasses/test_yaml_to_db_parser.py
Due: unittests, integration, Database, Dataclasses

Add validation for events, tags, related_entries, and city fields
  dev/validators/frontmatter.py
Due: unittests, integration

Add reference type support for moments with ~ prefix syntax and wiki dashboard
  dev/database/managers/entry_manager.py
  dev/database/models/__init__.py
  dev/database/models/enums.py
  dev/database/models/geography.py
  dev/dataclasses/parsers/db_to_yaml.py
  dev/dataclasses/parsers/yaml_to_db.py
  dev/migrations/versions/20251220_add_moment_type_column.py
  dev/validators/frontmatter.py
  dev/wiki/configs.py
  dev/wiki/exporter.py
  dev/wiki/templates/indexes/home.jinja2
  dev/wiki/templates/indexes/moments.jinja2
  dev/wiki/templates/indexes/people.jinja2
  dev/wiki/templates/indexes/timeline.jinja2
  dev/wiki/templates/person.jinja2
  docs/guides/production-transition.md
  tests/unit/dataclasses/test_yaml_to_db_parser.py
  tests/unit/wiki/test_exporter.py
Due: unittests, integration, Database, Dataclasses

Add wiki redesign proposal for journal-first architecture
  docs/wiki-redesign-proposal.md
Due: none

Add narrative analysis import system with Motif and TagCategory models
  dev/database/managers/manuscript_manager.py
  dev/database/models/__init__.py
  dev/database/models/entities.py
  dev/database/models_manuscript.py
  dev/dataclasses/parsers/narrative_analysis.py
  dev/migrations/versions/20251221_add_narrative_analysis_schema.py
  dev/pipeline/import_analysis.py
Due: unittests, integration, Database, Pipeline, Dataclasses

Add narrative analysis pipeline scripts and reorganize directory structure
  CLAUDE.md
  dev/dataclasses/parsers/narrative_analysis.py
  dev/pipeline/arc_grouping.py
  dev/pipeline/event_grouping.py
  dev/pipeline/normalize_analysis.py
  dev/pipeline/propagate_analysis.py
  dev/pipeline/scene_identification.py
Due: unittests, integration, Pipeline, Dataclasses

Add narrative wiki export from manifest files (arcs/events/scenes)
  dev/wiki/exporter.py
  dev/wiki/narrative_parser.py
  dev/wiki/templates/indexes/narrative_arcs.jinja2
  dev/wiki/templates/indexes/narrative_events.jinja2
  dev/wiki/templates/narrative_arc.jinja2
  dev/wiki/templates/narrative_event.jinja2
Due: unittests, integration

Add manual validation guide for moments/references and narrative structure
  docs/validation_guide.md
Due: none

Fix migration to use batch mode for SQLite compatibility
  dev/migrations/versions/20251221_add_narrative_analysis_schema.py
Due: unittests, integration

Add comprehensive full setup guide for new machine setup
  docs/development/README.md
  docs/development/full-setup.md
Due: none

Update data submodule with recalibrated ratings and 2015-2019 entries
  dev/database/models/entities.py
  dev/database/models_manuscript.py
  dev/dataclasses/parsers/yaml_to_db.py
  dev/wiki/exporter.py
Due: unittests, integration, Database, Dataclasses

Reorganize narrative analysis into dev/ modules with CLI and documentation
  dev/builders/__init__.py
  dev/builders/narrative.py
  dev/core/paths.py
  dev/pipeline/cli/__init__.py
  dev/pipeline/cli/narrative_structure.py
  dev/pipeline/configs/__init__.py
  dev/pipeline/configs/propagation_mappings.py
  dev/pipeline/normalize_analysis.py
  dev/pipeline/propagate_analysis.py
  dev/utils/__init__.py
  dev/utils/narrative.py
  docs/narrative_structure/guidelines.md
  docs/narrative_structure/rating_calibration.md
  docs/narrative_structure/review_workflow.md
Due: unittests, integration, Core Modules, Pipeline, Builders, Utils

Add explicit git staging rule to project instructions
  CLAUDE.md
Due: none

Move general git rules to global config, keep project-specific notes
  CLAUDE.md
Due: none

Add PDF output option for extract-unmapped and events-view commands
  dev/builders/narrative.py
  dev/pipeline/cli/narrative_structure.py
Due: unittests, integration, Pipeline, Builders

Fix extract_section bug and markdown formatting in narrative builders
  dev/builders/narrative.py
  dev/utils/md.py
Due: unittests, integration, Builders, Utils

Add curation tool and consolidated vocabulary for narrative analysis
  dev/builders/narrative.py
  dev/pipeline/cli/narrative_structure.py
  dev/pipeline/configs/__init__.py
  dev/pipeline/configs/propagation_mappings.py
  dev/pipeline/configs/vocabulary.py
  dev/pipeline/curation.py
  dev/pipeline/normalize_analysis.py
  dev/pipeline/propagate_analysis.py
  docs/narrative_structure/review_workflow.md
Due: unittests, integration, Pipeline, Builders

Fix ruff linting errors for CI compliance
  dev/builders/narrative.py
  dev/pipeline/cli/narrative_structure.py
  dev/pipeline/curation.py
  dev/pipeline/event_grouping.py
  dev/pipeline/import_analysis.py
  dev/pipeline/scene_identification.py
  dev/wiki/exporter.py
  dev/wiki/narrative_parser.py
  tests/integration/test_pipeline_cli.py
  tests/unit/core/test_logging_manager.py
  tests/unit/wiki/test_exporter.py
Due: unittests, integration, Pipeline, Builders

Update curation module with vocabulary cleanup and improved document generation
  dev/pipeline/curation.py
Due: unittests, integration, Pipeline

Fix curation document formatting and add checkboxes to events/scenes
  dev/builders/narrative.py
  dev/pipeline/curation.py
Due: unittests, integration, Pipeline, Builders

Remove arc data from events view (thematic vs plot arcs clarification)
  dev/builders/narrative.py
Due: unittests, integration, Builders

Use readable Title Case for motifs and remove arcs from events view
  dev/pipeline/configs/vocabulary.py
Due: unittests, integration, Pipeline

BF limit to 100 lines
  dev/pipeline/curation.py
Due: unittests, integration, Pipeline

Add cross-platform support for macOS and auto-detect project root
  .palimpsest
  dev/bin/setup-backups.sh
  dev/lua/palimpsest/config.lua
  dev/lua/palimpsest/init.lua
  environment.yaml
Due: unittests, integration

Remove unused ML/NLP dependencies from environment.yaml
  environment.yaml
Due: none

Add git commit guidelines to CLAUDE.md
  CLAUDE.md
Due: none
