Repository soffiafdz/palimpsest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Modules, Database, Pipeline, AI Features, Builders, Dataclasses, Utils

Consolidate Tag/Date/Event managers into config-driven SimpleManager
  dev/database/managers/__init__.py
  dev/database/managers/date_manager.py
  dev/database/managers/event_manager.py
  dev/database/managers/simple_manager.py
  dev/database/managers/tag_manager.py
  tests/conftest.py
  tests/unit/managers/test_date_manager.py
  tests/unit/managers/test_event_manager.py
Due: unittests, integration, Database

Rename MentionedDate to Moment, add M2M moment_events, consolidate BaseManager helpers
  dev/database/configs/integrity_check_configs.py
  dev/database/configs/json_export_configs.py
  dev/database/export_manager.py
  dev/database/health_monitor.py
  dev/database/manager.py
  dev/database/managers/__init__.py
  dev/database/managers/base_manager.py
  dev/database/managers/entry_manager.py
  dev/database/managers/location_manager.py
  dev/database/managers/person_manager.py
  dev/database/managers/poem_manager.py
  dev/database/managers/reference_manager.py
  dev/database/managers/simple_manager.py
  dev/database/models/__init__.py
  dev/database/models/associations.py
  dev/database/models/core.py
  dev/database/models/creative.py
  dev/database/models/entities.py
  dev/database/models/geography.py
  dev/database/query_analytics.py
  dev/database/query_optimizer.py
  dev/dataclasses/parsers/db_to_yaml.py
  dev/dataclasses/wiki_entry.py
  dev/dataclasses/wiki_location.py
  dev/dataclasses/wiki_person.py
  dev/migrations/versions/9e7f2a2a244e_rename_mentioneddate_to_moment.py
  docs/migrations/p25_moment_migration.md
  docs/unified_simplification_workplan.md
  docs/v2_rewrite_workplan.md
  tests/conftest.py
  tests/integration/test_date_context_parsing.py
  tests/unit/database/test_manager.py
  tests/unit/dataclasses/test_wiki_dataclasses.py
  tests/unit/managers/test_date_manager.py
  tests/unit/managers/test_moment_manager.py
Due: unittests, integration, Database, Dataclasses

P4: Simplify health/analytics with data-driven configs (-114 lines)
  dev/database/configs/integrity_check_configs.py
  dev/database/health_monitor.py
  dev/database/query_analytics.py
Due: unittests, integration, Database

Update workplan: mark P4, P4.1 complete
  docs/unified_simplification_workplan.md
Due: none

Add _update_scalar_fields and _resolve_parent helpers to BaseManager
  dev/database/managers/base_manager.py
  dev/database/managers/location_manager.py
  dev/database/managers/poem_manager.py
  dev/database/managers/reference_manager.py
Due: unittests, integration, Database

Rename _update_m2m_collection/relationships to _update_collection/relationships
  dev/database/managers/base_manager.py
  dev/database/managers/location_manager.py
  dev/database/managers/person_manager.py
  dev/database/managers/poem_manager.py
Due: unittests, integration, Database

Delete unused single-entity import functions (import_person/theme/tag)
  dev/pipeline/wiki2sql.py
  tests/integration/test_wiki2sql_imports.py
Due: unittests, integration, Pipeline

Extract _get_db() helper in search CLI to consolidate DB initialization
  dev/search/cli.py
Due: unittests, integration

Consolidate enum validators into _validate_enum_field helper
  dev/validators/schema.py
Due: unittests, integration

Extract _build_single_pdf helper to consolidate PDF build logic
  dev/builders/pdfbuilder.py
Due: unittests, integration, Builders

Remove unused imports from pipeline modules
  dev/pipeline/sql2yaml.py
  dev/pipeline/txt2md.py
  dev/pipeline/yaml2sql.py
Due: unittests, integration, Pipeline

Remove unused Path import from schema validator
  dev/validators/schema.py
Due: unittests, integration

Add Jinja2-based wiki exporter replacing wiki dataclasses for export
  dev/pipeline/cli/wiki.py
  dev/wiki/__init__.py
  dev/wiki/configs.py
  dev/wiki/exporter.py
  dev/wiki/filters.py
  dev/wiki/renderer.py
  dev/wiki/templates/city.jinja2
  dev/wiki/templates/entry.jinja2
  dev/wiki/templates/event.jinja2
  dev/wiki/templates/location.jinja2
  dev/wiki/templates/person.jinja2
  dev/wiki/templates/poem.jinja2
  dev/wiki/templates/reference.jinja2
  dev/wiki/templates/tag.jinja2
  dev/wiki/templates/theme.jinja2
  docs/unified_simplification_workplan.md
  tests/unit/test_wiki_module.py
Due: unittests, integration, Pipeline

Remove obsolete v2 rewrite workplan
  docs/v2_rewrite_workplan.md
Due: none

Replace wiki export with Jinja2-based WikiExporter, simplify wiki2sql imports
  dev/builders/wiki_pages/__init__.py
  dev/builders/wiki_pages/entries.py
  dev/pipeline/sql2wiki.py
  dev/pipeline/wiki2sql.py
  dev/wiki/parser.py
Due: unittests, integration, Pipeline, Builders

Fix PersonManager recursive call, update tests for removed methods and correct enum values
  dev/__init__.py
  dev/database/__init__.py
  dev/database/manager.py
  dev/database/managers/entry_helpers.py
  dev/database/managers/person_manager.py
  docs/development/architecture.md
  tests/unit/database/test_manager.py
  tests/unit/validators/test_frontmatter_validator.py
  tests/unit/validators/test_schema_validator.py
Due: unittests, integration, Database

Remove obsolete wiki import/export tests
  tests/integration/test_pipeline_cli.py
Due: none

Clean up Phase references and remove dead README link
  dev/__init__.py
  dev/database/manager.py
Due: unittests, integration, Database

Complete P26: Replace wiki_indexes.py with Jinja2 templates
  dev/builders/__init__.py
  dev/builders/wiki_indexes.py
  dev/wiki/exporter.py
  dev/wiki/filters.py
  dev/wiki/templates/indexes/cities.jinja2
  dev/wiki/templates/indexes/entries.jinja2
  dev/wiki/templates/indexes/events.jinja2
  dev/wiki/templates/indexes/locations.jinja2
  dev/wiki/templates/indexes/people.jinja2
  dev/wiki/templates/indexes/simple.jinja2
  docs/unified_simplification_workplan.md
  tests/unit/builders/test_wiki_builder.py
Due: unittests, integration, Builders

Consolidate entity managers with config-driven EntityManager base class
  CLAUDE.md
  dev/database/managers/entity_manager.py
  dev/database/managers/location_manager.py
  dev/database/managers/person_manager.py
  dev/database/managers/poem_manager.py
  dev/database/managers/reference_manager.py
Due: unittests, integration, Database

Update workplan with P3 completion status
  docs/unified_simplification_workplan.md
Due: none

Add wiki home dashboard with stats and navigation
  dev/wiki/exporter.py
  dev/wiki/templates/indexes/home.jinja2
Due: unittests, integration

Update workplan with P27 completion status
  docs/unified_simplification_workplan.md
Due: none

Reorganize workplan tiers with integrated low-priority tasks
  docs/unified_simplification_workplan.md
Due: none

Migrate special wiki pages (stats, timeline, analysis) to Jinja2 templates
  CLAUDE.md
  dev/builders/__init__.py
  dev/builders/wiki_pages/__init__.py
  dev/builders/wiki_pages/analysis.py
  dev/builders/wiki_pages/index.py
  dev/builders/wiki_pages/stats.py
  dev/builders/wiki_pages/timeline.py
  dev/builders/wiki_pages/utils/__init__.py
  dev/builders/wiki_pages/utils/charts.py
  dev/builders/wiki_pages/utils/formatters.py
  dev/builders/wiki_pages/utils/queries.py
  dev/pipeline/cli/wiki.py
  dev/wiki/exporter.py
  dev/wiki/filters.py
  dev/wiki/templates/indexes/analysis.jinja2
  dev/wiki/templates/indexes/stats.jinja2
  dev/wiki/templates/indexes/timeline.jinja2
  tests/unit/builders/wiki_pages/test_analysis.py
  tests/unit/builders/wiki_pages/test_index.py
  tests/unit/builders/wiki_pages/test_stats.py
  tests/unit/wiki/__init__.py
  tests/unit/wiki/test_exporter.py
Due: unittests, integration, Pipeline, Builders

Update workplan: mark Tier 4 wiki cleanup tasks as complete
  docs/unified_simplification_workplan.md
Due: none

Replace if self.logger: patterns with safe_logger() throughout codebase
  dev/builders/base.py
  dev/builders/pdfbuilder.py
  dev/builders/txtbuilder.py
  dev/builders/wiki.py
  dev/core/backup_manager.py
  dev/core/logging_manager.py
  dev/database/export_manager.py
  dev/database/health_monitor.py
  dev/database/manager.py
  dev/database/managers/base_manager.py
  dev/database/managers/entity_manager.py
  dev/database/managers/entry_manager.py
  dev/database/managers/location_manager.py
  dev/database/managers/person_manager.py
  dev/database/managers/poem_manager.py
  dev/database/managers/reference_manager.py
  dev/database/managers/simple_manager.py
  dev/database/query_analytics.py
  dev/database/sync_state_manager.py
  dev/database/tombstone_manager.py
  dev/pipeline/sql2yaml.py
  dev/pipeline/txt2md.py
  dev/pipeline/yaml2sql.py
  dev/search/search_index.py
  dev/validators/consistency.py
  dev/validators/md.py
  dev/validators/wiki.py
  dev/wiki/exporter.py
  docs/unified_simplification_workplan.md
  tests/unit/core/test_logging_manager.py
Due: unittests, integration, Core Modules, Database, Pipeline, Builders

Streamline workplan: 2,659 → 124 lines (95% reduction)
  docs/unified_simplification_workplan.md
Due: none

Rename extract_section to get_section in wiki.py to avoid name collision with md.py
  dev/utils/wiki.py
Due: unittests, integration, Utils

Replace decorator boilerplate with DatabaseOperation context manager (P10)
  dev/database/__init__.py
  dev/database/decorators.py
  dev/database/export_manager.py
  dev/database/health_monitor.py
  dev/database/manager.py
  dev/database/managers/base_manager.py
  dev/database/managers/entity_manager.py
  dev/database/managers/entry_manager.py
  dev/database/managers/location_manager.py
  dev/database/managers/manuscript_manager.py
  dev/database/managers/person_manager.py
  dev/database/managers/poem_manager.py
  dev/database/managers/reference_manager.py
  dev/database/managers/simple_manager.py
  dev/database/query_analytics.py
  docs/unified_simplification_workplan.md
  tests/unit/database/test_decorators.py
Due: unittests, integration, Database

Remove unused specialized enum normalizers (P22)
  dev/core/validators.py
  docs/unified_simplification_workplan.md
  tests/unit/test_validators.py
Due: unittests, integration, Core Modules

Remove unused configure_verbose_logging function, update workplan
  dev/pipeline/txt2md.py
  docs/unified_simplification_workplan.md
Due: unittests, integration, Pipeline

Update workplan: Tier 8 review complete, simplification work done
  docs/unified_simplification_workplan.md
Due: none

Implement manuscript wiki subsystem (P29-P31)
  dev/pipeline/cli/wiki.py
  dev/wiki/configs.py
  dev/wiki/exporter.py
  dev/wiki/filters.py
  dev/wiki/templates/arc.jinja2
  dev/wiki/templates/character.jinja2
  dev/wiki/templates/indexes/manuscript_arcs.jinja2
  dev/wiki/templates/indexes/manuscript_characters.jinja2
  dev/wiki/templates/indexes/manuscript_entries.jinja2
  dev/wiki/templates/indexes/manuscript_events.jinja2
  dev/wiki/templates/indexes/manuscript_home.jinja2
  dev/wiki/templates/manuscript_entry.jinja2
  dev/wiki/templates/manuscript_event.jinja2
  docs/unified_simplification_workplan.md
Due: unittests, integration, Pipeline

Update Neovim plugin for manuscript wiki integration (P32)
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/fzf.lua
  docs/unified_simplification_workplan.md
Due: unittests, integration

Complete workplan: add manuscript keymaps, mark all tiers done (P34-P35)
  dev/lua/palimpsest/keymaps.lua
  docs/unified_simplification_workplan.md
Due: unittests, integration

Standardize module headers and import organization across codebase
  dev/builders/__init__.py
  dev/builders/pdfbuilder.py
  dev/core/backup_manager.py
  dev/core/logging_manager.py
  dev/core/temporal_files.py
  dev/core/validators.py
  dev/database/managers/base_manager.py
  dev/database/managers/entity_manager.py
  dev/database/models/__init__.py
  dev/database/sync_state_manager.py
  dev/dataclasses/md_entry.py
  dev/dataclasses/md_entry_validator.py
  dev/dataclasses/parsers/db_to_yaml.py
  dev/dataclasses/parsers/yaml_to_db.py
  dev/dataclasses/txt_entry.py
  dev/pipeline/sql2yaml.py
  dev/utils/fs.py
  dev/utils/parsers.py
  dev/utils/txt.py
  dev/utils/wiki.py
Due: unittests, integration, Core Modules, Database, Pipeline, Builders, Dataclasses, Utils

Update documentation to reflect current codebase state
  docs/development/README.md
  docs/development/architecture.md
  docs/getting-started.md
  docs/reference/commands.md
Due: none

Add comprehensive tests for yaml_to_db parser, wiki parser, and search CLI
  tests/integration/test_search_cli.py
  tests/unit/dataclasses/test_yaml_to_db_parser.py
  tests/unit/wiki/test_parser.py
Due: none

Path conditions:
  unittests: any of: dev/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  integration: any of: dev/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Core Modules: any of: dev/core/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Database: any of: dev/database/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Pipeline: any of: dev/pipeline/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  AI Features: any of: dev/nlp/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Builders: any of: dev/builders/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Dataclasses: any of: dev/dataclasses/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Utils: any of: dev/utils/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
