Repository soffiafdz/palimpsest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Modules, Database, Pipeline, AI Features, Builders, Dataclasses, Utils

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "tests/"
  - "setup.py"
  - "**/__init__.py"
  - "dev/bin/"
  - "alembic/"
  - "docs/"
  - "templates/"

flags:
  unittests:
    paths:
      - dev/
    carryforward: true

  integration:
    paths:
      - dev/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - dev/core/

    - component_id: database
      name: Database
      paths:
        - dev/database/

    - component_id: pipeline
      name: Pipeline
      paths:
        - dev/pipeline/

    - component_id: ai
      name: AI Features
      paths:
        - dev/nlp/

    - component_id: builders
      name: Builders
      paths:
        - dev/builders/

    - component_id: dataclasses
      name: Dataclasses
      paths:
        - dev/dataclasses/

    - component_id: utils
      name: Utils
      paths:
        - dev/utils/

Improve wiki indexes and entry-level theme/motif display
  dev/wiki/configs.py
  dev/wiki/context.py
  dev/wiki/exporter.py
  dev/wiki/templates/indexes/events.jinja2
  dev/wiki/templates/indexes/main.jinja2
  dev/wiki/templates/indexes/tags.jinja2
  dev/wiki/templates/indexes/themes.jinja2
  dev/wiki/templates/journal/entry.jinja2
  dev/wiki/templates/journal/motif.jinja2
  dev/wiki/templates/journal/motif_entries.jinja2
  dev/wiki/templates/journal/theme.jinja2
  dev/wiki/validator.py
  tests/integration/conftest.py
  tests/integration/test_wiki_generation.py
  tests/unit/wiki/test_context.py
  tests/unit/wiki/test_exporter.py
Due: unittests, integration

Add chapter notes field, per-part renumber/move commands, and nvim keymaps
  dev/database/managers/chapter_manager.py
  dev/database/models/manuscript.py
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/keymaps.lua
  dev/migrations/versions/20260312_add_chapter_notes.py
  dev/pipeline/cli/__init__.py
  dev/pipeline/cli/manuscript.py
  dev/wiki/chapter_ops.py
  dev/wiki/context.py
  dev/wiki/metadata.py
  dev/wiki/templates/manuscript/chapter.jinja2
  tests/unit/pipeline/test_cli_structure.py
  tests/unit/wiki/test_chapter_ops.py
Due: unittests, integration, Database, Pipeline

Sort chapters by number, show numbers in wiki, redesign manuscript index
  dev/wiki/context.py
  dev/wiki/metadata.py
  dev/wiki/templates/indexes/manuscript.jinja2
  dev/wiki/templates/manuscript/chapter.jinja2
  dev/wiki/templates/manuscript/part.jinja2
Due: unittests, integration

Make entries import incremental in sync, fix numeric YAML title casting
  dev/pipeline/cli/sync.py
  dev/pipeline/sync_state.py
Due: unittests, integration, Pipeline

Remove blank-line padding between wiki headers and content
  dev/wiki/templates/indexes/events.jinja2
  dev/wiki/templates/indexes/main.jinja2
  dev/wiki/templates/indexes/manuscript.jinja2
  dev/wiki/templates/indexes/places.jinja2
  dev/wiki/templates/journal/arc.jinja2
  dev/wiki/templates/journal/arc_entries.jinja2
  dev/wiki/templates/journal/city.jinja2
  dev/wiki/templates/journal/entry.jinja2
  dev/wiki/templates/journal/event.jinja2
  dev/wiki/templates/journal/location.jinja2
  dev/wiki/templates/journal/location_entries.jinja2
  dev/wiki/templates/journal/motif.jinja2
  dev/wiki/templates/journal/person.jinja2
  dev/wiki/templates/journal/person_entries.jinja2
  dev/wiki/templates/journal/poem.jinja2
  dev/wiki/templates/journal/reference_source.jinja2
  dev/wiki/templates/journal/tag.jinja2
  dev/wiki/templates/journal/theme.jinja2
  dev/wiki/templates/manuscript/chapter.jinja2
  dev/wiki/templates/manuscript/manuscript_scene.jinja2
Due: unittests, integration

Fix relative links in manuscript index template
  dev/wiki/templates/indexes/manuscript.jinja2
Due: unittests, integration

Prioritize unassigned scenes at top of scenes index
  dev/wiki/templates/indexes/manuscript-scenes.jinja2
Due: unittests, integration

Add cache.ensure for async-safe entity loading in nvim plugin
  dev/lua/palimpsest/cache.lua
  dev/lua/palimpsest/entity.lua
Due: unittests, integration

Add per-chapter scene ordering with reorder/remove CLI and nvim commands
  dev/database/managers/chapter_manager.py
  dev/database/models/manuscript.py
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/keymaps.lua
  dev/migrations/versions/20260312_add_scene_order.py
  dev/pipeline/cli/manuscript.py
  dev/pipeline/export_json.py
  dev/pipeline/import_json.py
  dev/wiki/metadata.py
  dev/wiki/scene_ops.py
  tests/unit/pipeline/test_cli_structure.py
  tests/unit/wiki/test_scene_ops.py
Due: unittests, integration, Database, Pipeline

Preserve null fields in metadata YAML exports for editability
  dev/wiki/metadata.py
Due: unittests, integration

Auto-populate draft_path for prose chapters, create draft stubs on import
  dev/wiki/metadata.py
Due: unittests, integration

Use literal block style for multiline YAML strings, prevent line wrapping
  dev/wiki/metadata.py
Due: unittests, integration

Show scene order in chapter and scenes index wiki pages
  dev/wiki/context.py
  dev/wiki/exporter.py
  dev/wiki/templates/indexes/manuscript-scenes.jinja2
  dev/wiki/templates/manuscript/chapter.jinja2
Due: unittests, integration

Improve manuscript index scenes link, sort scenes index by part/chapter
  dev/wiki/exporter.py
  dev/wiki/templates/indexes/manuscript.jinja2
Due: unittests, integration
