Repository soffiafdz/palimpsest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Modules, Database, Pipeline, AI Features, Builders, Dataclasses, Utils

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "tests/"
  - "setup.py"
  - "**/__init__.py"
  - "dev/bin/"
  - "alembic/"
  - "docs/"
  - "templates/"

flags:
  unittests:
    paths:
      - dev/
    carryforward: true

  integration:
    paths:
      - dev/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - dev/core/

    - component_id: database
      name: Database
      paths:
        - dev/database/

    - component_id: pipeline
      name: Pipeline
      paths:
        - dev/pipeline/

    - component_id: ai
      name: AI Features
      paths:
        - dev/nlp/

    - component_id: builders
      name: Builders
      paths:
        - dev/builders/

    - component_id: dataclasses
      name: Dataclasses
      paths:
        - dev/dataclasses/

    - component_id: utils
      name: Utils
      paths:
        - dev/utils/

Rewrite extract_entities to use MD frontmatter as source
  dev/bin/extract_entities.py
Due: none

Extract entities from both MD frontmatter and narrative_analysis
  dev/bin/extract_entities.py
Due: none

count -> alphabetical
  dev/bin/extract_entities.py
Due: none

Rewrite extract_entities for per-year curation files
  dev/bin/extract_entities.py
Due: none

Update validation and jumpstart for per-year curation format
  dev/bin/jumpstart.py
  dev/bin/validate_curation.py
Due: none

Add curation infrastructure module with comprehensive tests
  dev/core/paths.py
  dev/curation/__init__.py
  dev/curation/cli.py
  dev/curation/consolidate.py
  dev/curation/extract.py
  dev/curation/importer.py
  dev/curation/models.py
  dev/curation/resolve.py
  dev/curation/summary.py
  dev/curation/validate.py
  dev/pipeline/cli/__init__.py
  tests/integration/test_curation_importer.py
  tests/unit/curation/__init__.py
  tests/unit/curation/test_consolidate.py
  tests/unit/curation/test_extract.py
  tests/unit/curation/test_models.py
  tests/unit/curation/test_resolve.py
  tests/unit/curation/test_summary.py
  tests/unit/curation/test_validate.py
Due: unittests, integration, Core Modules

Add curation validation and consolidation scripts
  dev/bin/consolidate_curation.py
  dev/bin/validate_curation.py
Due: none

Update data submodule with consolidated curation, add entity summary script
  dev/bin/entity_summary.py
Due: none

Add jumpstart script for Phase 14b metadata transformation
  dev/bin/jumpstart.py
  dev/database/models/__init__.py
  dev/database/models/entities.py
Due: unittests, integration, Database

Update schema for M2M events and flexible scene dates
  dev/bin/add_narrated_dates.py
  dev/bin/init_db.py
  dev/curation/importer.py
  dev/database/models/__init__.py
  dev/database/models/analysis.py
  dev/database/models/associations.py
  dev/database/models/core.py
  prompts/cleanup_scene_event_names.md
Due: unittests, integration, Database

Add ironclad metadata YAML validation
  dev/curation/cli.py
  dev/validators/metadata_yaml.py
  faulty_names.txt
  validation_errors.txt
Due: unittests, integration

Add entity validation to metadata YAML checks
  dev/validators/metadata_yaml.py
Due: unittests, integration

Add flexible person matching to entity subset validation
  dev/validators/metadata_yaml.py
Due: unittests, integration

Add accent/diacritic normalization to person matching
  dev/validators/metadata_yaml.py
Due: unittests, integration

Add hyphen and apostrophe normalization to person matching
  dev/validators/metadata_yaml.py
Due: unittests, integration

Use metadata YAML people section for entity subset validation
  dev/validators/metadata_yaml.py
Due: unittests, integration

Implement JSON export system with slugification and change detection
  EXPORT_IMPLEMENTATION_COMPLETE.md
  EXPORT_JSON_DESIGN.md
  dev/pipeline/cli/__init__.py
  dev/pipeline/cli/export.py
  dev/pipeline/export_json.py
  dev/utils/slugify.py
Due: unittests, integration, Pipeline, Utils

Fix date type handling in JSON export (SceneDate and Thread dates are strings)
  dev/pipeline/export_json.py
Due: unittests, integration, Pipeline

Add people data quality analysis and fix workflow
  EXPORT_TEST_ISSUES.md
  FIX_PEOPLE_DATA_WORKFLOW.md
  people_critical_yaml_updates.md
  people_non_conflicting_yaml_updates.md
Due: none

Add comprehensive import logic audit
  IMPORT_LOGIC_AUDIT.md
Due: none

Add scene subset validation to import logic
  IMPORT_LOGIC_AUDIT.md
  dev/pipeline/metadata_importer.py
Due: unittests, integration, Pipeline

Add MD frontmatter vs metadata YAML consistency validation
  dev/dataclasses/metadata_entry.py
  dev/pipeline/metadata_importer.py
  dev/validators/metadata.py
Due: unittests, integration, Pipeline, Dataclasses

Add consistency validation with auto-loading MD frontmatter
  dev/validators/metadata.py
Due: unittests, integration

Add data quality check for people missing lastname/disambiguator
  dev/dataclasses/metadata_entry.py
  dev/pipeline/metadata_importer.py
Due: unittests, integration, Pipeline, Dataclasses

Improve people validation and add slug field to Person model
  dev/bin/update_narrated_dates.py
  dev/database/models/entities.py
  dev/dataclasses/metadata_entry.py
  dev/migrations/versions/20260201_add_person_slug_and_fix_aliases.py
  dev/pipeline/cli/database.py
  dev/pipeline/metadata_importer.py
Due: unittests, integration, Database, Pipeline, Dataclasses

Unify validation and fix name/location normalization in importer
  dev/bin/init_db.py
  dev/pipeline/cli/maintenance.py
  dev/pipeline/metadata_importer.py
  dev/utils/name_matching.py
  dev/validators/cli/__init__.py
  dev/validators/entry.py
Due: unittests, integration, Pipeline, Utils

Phase 1 code audit: remove deprecated code and fix unused imports
  dev/builders/__init__.py
  dev/core/paths.py
  dev/database/manager.py
  dev/database/managers/entry_manager.py
  dev/database/models/associations.py
  dev/database/models/creative.py
  dev/database/models/entities.py
  dev/database/models/metadata.py
  dev/database/query_optimizer.py
  dev/dataclasses/metadata_entry.py
  dev/pipeline/cli/database.py
  dev/pipeline/entity_resolver.py
  dev/pipeline/metadata_importer.py
  dev/pipeline/narrative_to_yaml.py
  dev/pipeline/wiki2sql.py
  dev/pipeline/yaml2sql.py
  dev/search/search_engine.py
  dev/utils/name_matching.py
  dev/validators/entry.py
  dev/validators/metadata.py
  dev/validators/metadata_yaml.py
  tests/unit/managers/test_tag_manager.py
Due: unittests, integration, Core Modules, Database, Pipeline, Dataclasses, Utils

Fix tests for Tag model and delete wiki tests
  tests/unit/managers/test_tag_manager.py
  tests/unit/test_wiki_module.py
  tests/unit/test_wiki_utils.py
  tests/unit/wiki/__init__.py
  tests/unit/wiki/test_exporter.py
  tests/unit/wiki/test_parser.py
Due: none
