Repository soffiafdz/palimpsest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Modules, Database, Pipeline, AI Features, Builders, Dataclasses, Utils

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "tests/"
  - "setup.py"
  - "**/__init__.py"
  - "dev/bin/"
  - "alembic/"
  - "docs/"
  - "templates/"

flags:
  unittests:
    paths:
      - dev/
    carryforward: true

  integration:
    paths:
      - dev/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core Modules
      paths:
        - dev/core/

    - component_id: database
      name: Database
      paths:
        - dev/database/

    - component_id: pipeline
      name: Pipeline
      paths:
        - dev/pipeline/

    - component_id: ai
      name: AI Features
      paths:
        - dev/nlp/

    - component_id: builders
      name: Builders
      paths:
        - dev/builders/

    - component_id: dataclasses
      name: Dataclasses
      paths:
        - dev/dataclasses/

    - component_id: utils
      name: Utils
      paths:
        - dev/utils/

Add narrative analysis markdown to YAML converter
  dev/pipeline/narrative_to_yaml.py
Due: unittests, integration, Pipeline

ENH keymap script
  dev/lua/palimpsest/keymaps.lua
Due: unittests, integration

YAML lint config
  .yamllint.yaml
Due: none

Narrative analysis guidelines
  CLAUDE.md
Due: none

Script for automatic yaml formatting
  dev/bin/format_yaml.py
Due: none

Add Phase 13 workplan: narrative structure support
  docs/phase13_narrative_structure.md
Due: none

Phase 13a: Remove deprecated wiki builder and narrative parsers
  dev/builders/__init__.py
  dev/builders/wiki.py
  dev/pipeline/arc_grouping.py
  dev/pipeline/event_grouping.py
  dev/pipeline/scene_identification.py
  dev/wiki/narrative_parser.py
  docs/wiki-redesign-proposal.md
  templates/wiki/log.template
Due: unittests, integration, Pipeline, Builders

Mark Phase 13a complete
  docs/phase13_narrative_structure.md
Due: none

Add frontmatter migration scripts
  dev/pipeline/extract_notes.py
  dev/pipeline/migrate_frontmatter.py
Due: unittests, integration, Pipeline

Add poems/refs extraction, update data submodule with proper legacy archives
  dev/pipeline/extract_poems_refs.py
Due: unittests, integration, Pipeline

Fix Entry field names and add EventManager stub
  dev/database/manager.py
  dev/database/managers/__init__.py
  dev/database/managers/entry_manager.py
  dev/database/managers/event_manager.py
  dev/database/models/analysis.py
Due: unittests, integration, Database

Add comprehensive tests for database managers and wiki exporter
  tests/unit/database/test_entry_manager.py
  tests/unit/database/test_export_manager.py
  tests/unit/database/test_manager.py
  tests/unit/wiki/test_exporter.py
Due: none

Update CLAUDE.md: remove workplan references, update enum docs
  CLAUDE.md
Due: none

Add test failure analysis report
  TEST_FAILURES.md
Due: none

Move curation and extraction scripts to dev/bin (misplaced in pipeline)
  dev/bin/curation.py
  dev/bin/extract_notes.py
  dev/bin/extract_poems_refs.py
  dev/bin/migrate_frontmatter.py
Due: none

Add entity curation workflow documentation for Phase 14b
  dev/docs/entity_curation_workflow.md
Due: unittests, integration

Document Phase 14b design decisions from CS/Novelist dialogue
  dev/docs/phase_14b_design.md
Due: unittests, integration

Add YAML specifications and clean documentation standards to CLAUDE.md
  CLAUDE.md
  dev/docs/entity_curation_workflow.md
  dev/docs/phase_14b_design.md
  dev/docs/test_failure_report.md
  dev/docs/yaml_specifications.md
Due: unittests, integration

Clean documentation suite to production-level quality
  dev/docs/test_failure_report.md
  docs/README.md
  docs/development/entity_curation_workflow.md
  docs/development/testing.md
  docs/development/tombstones.md
  docs/guides/conflict-resolution.md
  docs/guides/manuscript-features.md
  docs/guides/migration.md
  docs/guides/production-transition.md
  docs/migrations/p25_moment_migration.md
  docs/phase13_narrative_structure.md
  docs/reference/metadata-field-reference.md
  docs/reference/yaml_specifications.md
  docs/unified_simplification_workplan.md
Due: unittests, integration

Expand documentation standards in CLAUDE.md
  CLAUDE.md
Due: none

Add CS/Novelist pseudo-adversary dialogue framework to CLAUDE.md
  CLAUDE.md
Due: none

Add extract_entities.py for entity curation workflow
  dev/bin/extract_entities.py
  dev/core/paths.py
Due: unittests, integration, Core Modules

Add date_range to entity curation draft output
  dev/bin/extract_entities.py
Due: none

Add curation validation script for entity files
  dev/bin/validate_curation.py
Due: none

Add jumpstart migration script for narrative_analysis import
  dev/bin/jumpstart.py
Due: none

Add name parsing and hierarchical location curation format
  dev/bin/extract_entities.py
  dev/bin/jumpstart.py
  dev/bin/validate_curation.py
Due: none

Fix name parsing for non-alias parentheticals
  dev/bin/extract_entities.py
Due: none
