Repository soffiafdz/palimpsest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Modules, Database, Pipeline, AI Features, Builders, Dataclasses, Utils

Create plm json command group
  dev/pipeline/cli/export.py
  dev/pipeline/cli/import_json.py
Due: unittests, integration, Pipeline

Create plm pipeline group, expand run with all steps
  dev/pipeline/cli/maintenance.py
Due: unittests, integration, Pipeline

Rename plm metadata list-entities to list
  dev/pipeline/cli/metadata_yaml.py
Due: unittests, integration, Pipeline

Merge metadb into plm db, remove metadb entry point
  dev/database/cli/__init__.py
  dev/database/cli/backup.py
  dev/database/cli/maintenance.py
  dev/database/cli/manuscript.py
  dev/database/cli/migration.py
  dev/database/cli/prune.py
  dev/database/cli/query.py
  pyproject.toml
Due: unittests, integration, Database

Update Lua plugin CLI references to new command names
  dev/lua/palimpsest/cache.lua
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/float.lua
Due: unittests, integration

Fix full-setup.md bootstrapping and command references
  docs/development/full-setup.md
Due: none

Update README.md command references
  README.md
Due: none

Update commands.md to new CLI structure
  docs/reference/commands.md
Due: none

Update remaining doc references to new CLI names
  docs/README.md
  docs/development/architecture.md
  docs/development/entity_curation_workflow.md
  docs/development/neovim-plugin-dev.md
  docs/development/testing.md
  docs/development/wiki-page-designs.md
  docs/getting-started.md
  docs/integrations/neovim.md
Due: none

Update source code docstrings to new CLI names
  dev/database/cli/prune.py
  dev/database/cli/setup.py
  dev/database/health_monitor.py
  dev/validators/__init__.py
  dev/validators/db.py
Due: unittests, integration, Database

Add CLI structure smoke tests
  tests/unit/pipeline/test_cli_structure.py
Due: none

Replace emoji characters with plain-text equivalents in CLI output
  dev/bin/setup-backups.sh
  dev/core/logging_manager.py
  dev/database/cli/backup.py
  dev/database/cli/maintenance.py
  dev/database/cli/migration.py
  dev/database/cli/prune.py
  dev/database/cli/query.py
  dev/database/cli/setup.py
  dev/database/query_optimizer.py
  dev/lua/palimpsest/validators.lua
  dev/pipeline/cli/export.py
  dev/pipeline/cli/maintenance.py
  dev/pipeline/cli/metadata_pdf.py
  dev/pipeline/cli/pdf.py
  dev/pipeline/cli/sources.py
  dev/pipeline/cli/text.py
  dev/pipeline/export_json.py
  dev/search/cli.py
  dev/utils/yaml_formatter.py
  dev/validators/cli/consistency.py
  dev/validators/cli/database.py
  dev/validators/cli/frontmatter.py
  dev/validators/cli/markdown.py
  dev/wiki/rename.py
Due: unittests, integration, Core Modules, Database, Pipeline, Utils

Sort all relationship lists in JSON export for round-trip determinism
  dev/pipeline/export_json.py
Due: unittests, integration, Pipeline

Add plm sync command for unified cross-machine synchronization
  dev/pipeline/cli/sync.py
Due: unittests, integration, Pipeline

Remove entries/json groups; promote export to top-level command
  dev/pipeline/cli/__init__.py
  dev/pipeline/cli/database.py
  dev/pipeline/cli/import_json.py
Due: unittests, integration, Pipeline

Update Lua plugin to use top-level plm export command
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/float.lua
Due: unittests, integration

Update pipeline run to use sync internally
  dev/pipeline/cli/maintenance.py
Due: unittests, integration, Pipeline

Update CLI structure tests and add sync command tests
  tests/unit/pipeline/test_cli_structure.py
  tests/unit/pipeline/test_sync.py
Due: none

Update documentation for sync command and CLI restructuring
  README.md
  docs/development/full-setup.md
  docs/reference/commands.md
Due: none

Add project config file with local overrides
  .gitignore
  .palimpsest
  .palimpsest.yaml
  dev/core/config.py
  dev/lua/palimpsest/config.lua
Due: unittests, integration, Core Modules

Integrate project config defaults with plm sync
  dev/pipeline/cli/sync.py
Due: unittests, integration, Pipeline

Remove deck_mode branching from Lua plugin
  dev/lua/palimpsest/commands.lua
  dev/lua/palimpsest/entity.lua
  dev/lua/palimpsest/init.lua
Due: unittests, integration

Remove .sync-pending marker system
  dev/lua/palimpsest/autocmds.lua
  dev/pipeline/cli/maintenance.py
  dev/wiki/exporter.py
  dev/wiki/sync.py
Due: unittests, integration, Pipeline

Add config tests and update sync tests
  tests/unit/core/test_config.py
  tests/unit/pipeline/test_sync.py
  tests/unit/wiki/test_sync.py
  tests/unit/wiki/test_sync_pending.py
Due: none

Update docs for config file and deck_mode removal
  docs/integrations/neovim.md
  docs/reference/commands.md
Due: none

Replace min_year with explicit years range in sync config
  .palimpsest.yaml
  dev/core/config.py
  dev/pipeline/cli/sync.py
  docs/reference/commands.md
  tests/unit/core/test_config.py
  tests/unit/pipeline/test_sync.py
Due: unittests, integration, Core Modules, Pipeline

Sort all wiki entry lists deterministically
  dev/wiki/context.py
Due: unittests, integration

Fix scene date sorting to use string comparison
  dev/wiki/context.py
Due: unittests, integration

remove cache refresh
  dev/lua/palimpsest/init.lua
Due: unittests, integration

Add incremental sync with git-based change detection
  dev/core/paths.py
  dev/pipeline/cli/sync.py
  dev/pipeline/import_json.py
  dev/pipeline/sync_state.py
  dev/wiki/metadata.py
  docs/reference/commands.md
  tests/unit/pipeline/test_sync.py
  tests/unit/pipeline/test_sync_state.py
Due: unittests, integration, Core Modules, Pipeline

Remove unused imports to fix ruff F401 lint errors
  dev/database/cli/__init__.py
  dev/database/cli/backup.py
  tests/unit/pipeline/test_sync_state.py
Due: unittests, integration, Database

Remove Edit links from wiki templates, add YAML metadata autocmds
  dev/lua/palimpsest/autocmds.lua
  dev/wiki/templates/indexes/people.jinja2
  dev/wiki/templates/indexes/places.jinja2
  dev/wiki/templates/journal/arc.jinja2
  dev/wiki/templates/journal/city.jinja2
  dev/wiki/templates/journal/entry.jinja2
  dev/wiki/templates/journal/location.jinja2
  dev/wiki/templates/journal/person.jinja2
  dev/wiki/templates/manuscript/chapter.jinja2
  dev/wiki/templates/manuscript/character.jinja2
  dev/wiki/templates/manuscript/manuscript_scene.jinja2
Due: unittests, integration

Path conditions:
  unittests: any of: dev/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  integration: any of: dev/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Core Modules: any of: dev/core/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Database: any of: dev/database/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Pipeline: any of: dev/pipeline/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  AI Features: any of: dev/nlp/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Builders: any of: dev/builders/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Dataclasses: any of: dev/dataclasses/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Utils: any of: dev/utils/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
