Repository soffiafdz/palimpsest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Modules, Database, Pipeline, AI Features, Builders, Dataclasses, Utils

Fix all pyright errors and remove references to non-existent model attributes
  dev/database/cli/export.py
  dev/database/configs/integrity_check_configs.py
  dev/database/configs/json_export_configs.py
  dev/database/export_manager.py
  dev/database/health_monitor.py
  dev/database/manager.py
  dev/database/managers/base_manager.py
  dev/database/managers/entity_manager.py
  dev/database/managers/entry_helpers.py
  dev/database/managers/entry_manager.py
  dev/database/managers/person_manager.py
  dev/database/managers/poem_manager.py
  dev/database/managers/reference_manager.py
  dev/database/managers/simple_manager.py
  dev/database/models/entities.py
  dev/database/query_analytics.py
  dev/dataclasses/md_entry.py
  dev/dataclasses/parsers/db_to_yaml.py
  dev/dataclasses/parsers/yaml_to_db.py
  dev/pipeline/configs/vocabulary.py
  dev/pipeline/metadata_importer.py
  dev/search/search_index.py
  dev/utils/narrative.py
  dev/validators/consistency.py
  dev/validators/entry.py
  tests/conftest.py
  tests/unit/managers/test_reference_manager.py
Due: unittests, integration, Database, Pipeline, Dataclasses, Utils

Delete tests for deprecated/removed model attributes and features
  tests/integration/test_date_context_parsing.py
  tests/integration/test_search_cli.py
  tests/integration/test_validators_cli.py
  tests/integration/test_yaml_to_db.py
  tests/unit/database/test_entry_manager.py
  tests/unit/database/test_export_manager.py
  tests/unit/managers/test_event_manager.py
  tests/unit/managers/test_location_manager.py
  tests/unit/managers/test_person_manager.py
  tests/unit/managers/test_poem_manager.py
  tests/unit/managers/test_reference_manager.py
  tests/unit/validators/test_frontmatter_validator.py
  tests/unit/validators/test_schema_validator.py
Due: none

Code audit: fix stale wiki refs, dead code, broken APIs, and docs
  PLAN.md
  dev/builders/__init__.py
  dev/database/managers/entry_helpers.py
  dev/database/managers/entry_manager.py
  dev/database/managers/location_manager.py
  dev/database/managers/poem_manager.py
  dev/database/models/entities.py
  dev/pipeline/configs/vocabulary.py
  dev/utils/md.py
  dev/validators/cli/consistency.py
  dev/validators/consistency.py
  docs/development/architecture.md
  docs/development/database-managers.md
  docs/development/entity_curation_workflow.md
  docs/development/full-setup.md
  docs/development/neovim-plugin-dev.md
  docs/development/testing.md
  docs/development/type-checking.md
  docs/getting-started.md
  docs/guides/manuscript-features.md
  docs/guides/synchronization.md
  docs/integrations/neovim.md
  docs/narrative_structure/review_workflow.md
  docs/reference/commands.md
  docs/reference/metadata-field-reference.md
  docs/reference/wiki-fields.md
  docs/validation_guide.md
  tests/unit/validators/test_consistency_validator.py
Due: unittests, integration, Database, Pipeline, Utils

Add session context and pickup prompt for EntryManager rebuild
  PICKUP_PROMPT.md
  SESSION_CONTEXT.md
Due: none

Rewire MetadataImporter to EntryManager, delete dead sync-db/MdEntry stack
  dev/database/export_manager.py
  dev/database/managers/entry_manager.py
  dev/database/managers/person_manager.py
  dev/dataclasses/__init__.py
  dev/dataclasses/md_entry.py
  dev/dataclasses/md_entry_validator.py
  dev/dataclasses/parsers/__init__.py
  dev/dataclasses/parsers/db_to_yaml.py
  dev/dataclasses/parsers/yaml_to_db.py
  dev/pipeline/cli/__init__.py
  dev/pipeline/cli/database.py
  dev/pipeline/cli/maintenance.py
  dev/pipeline/metadata_importer.py
  dev/pipeline/sql2yaml.py
  dev/pipeline/yaml2sql.py
  dev/validators/consistency.py
  tests/unit/database/test_entry_manager.py
  tests/unit/dataclasses/test_md_entry.py
  tests/unit/dataclasses/test_yaml_to_db_parser.py
  tests/unit/managers/test_person_manager.py
  tests/unit/validators/test_consistency_validator.py
Due: unittests, integration, Database, Pipeline, Dataclasses

Docs: Remove stale references and rewrite commands.md
  README.md
  docs/development/README.md
  docs/development/architecture.md
  docs/development/database-managers.md
  docs/development/testing.md
  docs/development/tombstones.md
  docs/reference/commands.md
Due: none

Remove all tombstone documentation and references
  README.md
  dev/database/managers/entry_manager.py
  docs/development/README.md
  docs/development/tombstones.md
Due: unittests, integration, Database

Remove commented-out tombstone code from entry_manager
  dev/database/managers/entry_manager.py
Due: unittests, integration, Database

Complete documentation cleanup: remove all wiki/sync references
  docs/README.md
  docs/development/architecture.md
  docs/development/entity_curation_workflow.md
  docs/development/full-setup.md
  docs/development/neovim-plugin-dev.md
  docs/development/testing.md
  docs/getting-started.md
  docs/guides/conflict-resolution.md
  docs/guides/manuscript-features.md
  docs/guides/synchronization.md
  docs/integrations/neovim.md
  docs/reference/wiki-fields.md
  docs/validation_guide.md
Due: none

Final cleanup: remove all remaining wiki/export-wiki references
  docs/development/neovim-plugin-dev.md
  docs/development/testing.md
  docs/integrations/neovim.md
Due: none

Remove final wiki test references from testing.md
  docs/development/testing.md
Due: none

Remove unused imports from test files to fix ruff linting errors
  tests/unit/database/test_entry_manager.py
  tests/unit/database/test_export_manager.py
  tests/unit/dataclasses/test_metadata_entry.py
  tests/unit/managers/test_poem_manager.py
  tests/unit/managers/test_reference_manager.py
Due: none

Fix EventManager import error by removing unused EventManager initialization
  dev/database/manager.py
  tests/unit/database/test_manager.py
Due: unittests, integration, Database

Implement EventManager as SimpleManager config with Entry + Scene relationships
  dev/database/manager.py
  dev/database/managers/__init__.py
  dev/database/managers/event_manager.py
  dev/database/managers/simple_manager.py
  tests/conftest.py
  tests/unit/database/test_manager.py
  tests/unit/managers/test_event_manager.py
Due: unittests, integration, Database

Fix cleanup tests: use .has() for scalar FKs, skip invalid orphan scenarios
  dev/database/health_monitor.py
  tests/unit/database/test_manager.py
Due: unittests, integration, Database

Remove unused imports from test_manager.py
  tests/unit/database/test_manager.py
Due: none

Remove stale references to non-existent commands in documentation
  docs/development/architecture.md
  docs/development/testing.md
  docs/reference/commands.md
Due: none

Fix import order in test_event_manager.py
  tests/unit/managers/test_event_manager.py
Due: none

Remove ExportManager; add JSONExporter tests
  dev/database/__init__.py
  dev/database/cli/__init__.py
  dev/database/cli/export.py
  dev/database/configs/json_export_configs.py
  dev/database/export_manager.py
  dev/database/manager.py
  tests/unit/database/test_export_manager.py
  tests/unit/pipeline/test_export_json.py
Due: unittests, integration, Database

Remove vimwiki dead references; add wiki design spec
  dev/core/exceptions.py
  dev/core/paths.py
  docs/development/README.md
  docs/development/architecture.md
  docs/development/vimwiki-design.md
Due: unittests, integration, Core Modules

Clean manuscript stubs from search engine and test suite
  dev/search/search_engine.py
  tests/unit/database/test_manager.py
Due: unittests, integration

Implement ChapterManager and CharacterManager
  dev/database/manager.py
  dev/database/managers/__init__.py
  dev/database/managers/chapter_manager.py
  dev/database/managers/character_manager.py
Due: unittests, integration, Database

Add manuscript CLI commands
  dev/database/cli/__init__.py
  dev/database/cli/manuscript.py
Due: unittests, integration, Database

Add manuscript exports and manager tests
  dev/pipeline/export_json.py
  tests/unit/database/test_manager.py
  tests/unit/managers/test_chapter_manager.py
  tests/unit/managers/test_character_manager.py
Due: unittests, integration, Pipeline

Update vimwiki design spec with manuscript architecture decisions
  docs/development/vimwiki-design.md
Due: none

Clarify unified linting covers all file types, not just manuscript
  docs/development/vimwiki-design.md
Due: none

Add manuscript export tests, conftest fixtures, and doc updates
  docs/development/README.md
  docs/development/architecture.md
  tests/conftest.py
  tests/unit/pipeline/test_export_json.py
Due: none

Add Quartz SSG integration and open design questions to wiki spec
  docs/development/vimwiki-design.md
Due: none

Replace integer IDs with natural keys in JSON exports
  dev/database/models/analysis.py
  dev/database/models/creative.py
  dev/database/models/manuscript.py
  dev/database/models/metadata.py
  dev/migrations/versions/20260207_add_natural_key_unique_constraints.py
  dev/pipeline/export_json.py
  dev/utils/slugify.py
  tests/unit/managers/test_poem_manager.py
  tests/unit/managers/test_reference_manager.py
  tests/unit/pipeline/test_export_json.py
Due: unittests, integration, Database, Pipeline, Utils

Update data submodule and mappings: second-pass tag consolidation
  scripts/tag_decisions.json
  scripts/tag_mapping.json
Due: none

Add tag consolidation scripts
  scripts/build_tag_mapping.py
  scripts/consolidate_tags.py
Due: none

Add YAML metadata skeleton generation to txt2md pipeline
  README.md
  dev/core/cli.py
  dev/dataclasses/metadata_entry.py
  dev/pipeline/cli/text.py
  dev/pipeline/txt2md.py
  dev/pipeline/yaml_skeleton.py
  tests/unit/pipeline/test_yaml_skeleton.py
Due: unittests, integration, Core Modules, Pipeline, Dataclasses

Add metadata curation PDF generation and SELF relation type
  dev/builders/metadata_pdfbuilder.py
  dev/database/models/enums.py
  dev/pipeline/cli/__init__.py
  dev/pipeline/cli/metadata_pdf.py
  dev/pipeline/metadata2pdf.py
  docs/development/wiki-page-designs.md
  templates/tex/preamble_metadata.tex
  tests/integration/test_metadata_pdf_pipeline.py
  tests/unit/pipeline/test_metadata2pdf.py
Due: unittests, integration, Database, Pipeline, Builders

Strengthen git commit rules in project instructions
  CLAUDE.md
Due: none

Complete wiki page design review with YAML+floating window architecture
  docs/development/wiki-page-designs.md
Due: none

Resolve remaining wiki design questions: plm lint format and Quartz config
  docs/development/vimwiki-design.md
Due: none

Update data flow diagram and boundary summary for YAML+floating window architecture
  docs/development/vimwiki-design.md
  docs/development/wiki-page-designs.md
Due: none

Remove stale planning artifacts, reports, and deprecated workflow doc
  EXPORT_IMPLEMENTATION_COMPLETE.md
  EXPORT_IMPLEMENTATION_STATUS.md
  EXPORT_JSON_DESIGN.md
  EXPORT_TEST_ISSUES.md
  FIX_PEOPLE_DATA_WORKFLOW.md
  IMPORT_LOGIC_AUDIT.md
  PICKUP_PROMPT.md
  PLAN.md
  SESSION_CONTEXT.md
  TEST_FAILURES.md
  docs/narrative_structure/review_workflow.md
  people_critical_yaml_updates.md
  people_non_conflicting_yaml_updates.md
Due: none

Path conditions:
  unittests: any of: dev/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  integration: any of: dev/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Core Modules: any of: dev/core/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Database: any of: dev/database/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Pipeline: any of: dev/pipeline/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  AI Features: any of: dev/nlp/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Builders: any of: dev/builders/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Dataclasses: any of: dev/dataclasses/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
  Utils: any of: dev/utils/, but not: tests/, setup.py, **/__init__.py, dev/bin/, alembic/, docs/, templates/
